<div class="card mb-3">
  <div class="card-header"><%= @template.file %></div>
  <div class="p-2">
      <pre class="mb-0"><code class="<%= @template.syntax %>"><%= @template.contents %></code></pre>
  </div>
</div>


<span><%= link "Edit", to: Routes.generator_template_path(@conn, :edit, @generator, @template), class: "btn btn-primary" %></span>
<span><%= link "Back", to: Routes.generator_path(@conn, :show, @generator), class: "btn btn-outline-secondary" %></span>
