.table {
  thead th {
    border-bottom-width: 1px;
    // background-color: #f6f9fc;
    color: #8898aa;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    font-size: .65rem;
    border-bottom: 1px solid #e9ecef;
    border-top: 0;
  }
}
