$primary: #4e73df;
$secondary: #868e96;
$success: #43ac6a;
$info: #2699bd;
$danger: #f04124;
$light: #f6f9fc;
$dark: #343a40;

$body-color:rgb(73, 80, 87);


$border-radius: .2rem;

$card-cap-bg: #fff;
$card-border-color: rgba(26, 54, 126, 0.125);
$breadcrumb-bg: #fff;
$breadcrumb-divider: "▸";
$line-height-base: 1.618;
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
// $table-head-bg: #f5f5f5;
$table-head-color: rgba(#000, 0.54);
$table-hover-bg: #eee;
$table-border-color: #e0e0e0;
$table-cell-padding: .6rem;
$link-color: rgba(#000, 0.54);
// $link-hover-color: lighten($link-color, 15%);
$input-border-color: rgb(206, 212, 218);
$input-btn-padding-x: 1rem;

$tooltip-bg: $secondary;
$tooltip-opacity: 1;

$paragraph-margin-bottom:   1.25rem !default;
