<h1>Edit Generator</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.generator_path(@conn, :update, @generator)) %>

<span><%= link "Back", to: Routes.generator_path(@conn, :index) %></span>
